@{
  Layout = "_Layout";
}

@using SweetSavoryTreats.Models;
@model IEnumerable<SweetSavoryTreats.Models.Treat>;

<h1>Treats List</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
}
else
{
  <h3>No Treats have been added yet!</h3>
} 
<div class="footer">
  <p>@Html.ActionLink("Add new Treat", "Create")</p>
  <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
</div>
