@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new Flavor" />
}
<p>@Html.ActionLink("Back to Flavors List", "Index")</p>